<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preload" href="fonts/Roboto-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/Roboto-LightItalic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/EBGaramond-Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/Roboto-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/icomoon.woff?2qveb1" as="font" type="font/woff" crossorigin>
    <link rel="icon" href="images/img.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/img.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Классические брендовые мужские костюмы</title>
    <script> </script>
</head>